<section class="section">
    <h2 class="section__title">Program</h2>
    <div class="section__content">
        <div class='table-responsive'>
            <table class='table borderless'>
                <tr ng-repeat="scheduleItem in vm.schedule">
                    <td>{{scheduleItem.day}}</td>
                    <td>
                        <p ng-repeat="artist in scheduleItem.artists">
                            {{artist}}<br/>
                        </p>
                    </td>
                    <td>{{scheduleItem.location}}</td>
                    <td>
                        <button type="button" class="btn btn-default">
                            <a href="{{scheduleItem.ticketsUrl}}" target="_blank">Cumpara bilet</a>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
