<button class="icon-button close-menu-button"
    ng-if="vm.active"
    ng-click="vm.active = false;">
    <i class="glyphicon glyphicon-remove"></i>
</button>
<button class="icon-button open-menu-button"
    ng-if="!vm.active"
    ng-click="vm.active = true;">
    <i class="glyphicon glyphicon-menu-hamburger"></i>
</button>
<ul>
    <li class="logo">
        <img src="images/logo.svg" alt="logo">
    </li>
    <li ng-repeat="item in vm.menuItems">
        <a ui-sref="{{item.path}}" ui-sref-active="active">{{item.name}}</a>
    </li>
</ul>
