@import "../app/layout/navigation/menu.less";
@import "../app/widgets/widgets.less";
@import "../app/artists/artists.less";
@import "colors";
@import "fonts";
@import "mixins";

body {
    background: @dark-green;
    color: #fff;
}

.menu-opened {
    .view {
        @media @mobile {
            padding-top: 29px;
        }
    }
}
.icon-button {
    border: 0;
    background: none;
    outline: none;
}

.section-title {
    text-align: center;
    padding: 40px;
}
