@import "../app/layout/navigation/menu.less";
@import "../app/widgets/widgets.less";
@import "../app/about/about.less";
@import "../app/artists/artists.less";
@import "colors";
@import "buttons";
@import "fonts";
@import "mixins";
@import "hacks";

html {
    background-image: url(../images/landing/hippie-music-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    background: fade(@dark-green, 90);
    color: #fff;
    margin: 0;
}
.shell-container {
    margin: 0;
}

.menu-opened {
    .view {
        @media @mobile {
            padding-top: 29px;
        }
    }
}
.icon-button {
    border: 0;
    background: none;
    outline: none;
}

.section {
    width: 100vw;
    min-height: 100vh;
    position: relative;

    &.white-bg {
        background-color: @white;
    }

    &-title {
        text-align: center;
        padding: 40px;
    }

    &-content {
        width: 100%;

        &.center-y {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .hero-image {
            max-width: 600px;
            width: 60%;
        }
    }
}
