@import "../app/layout/navigation/menu.less";
@import "../app/widgets/widgets.less";
@import "../app/artists/artists.less";
@import "colors";
@import "fonts";
@import "mixins";

body {
    background: @dark-green;
    color: #fff;
}

.section-title {
    text-align: center;
    padding: 40px;
}
