<div class="row">
    <div class="col-sm-4">
        <h3>Cumpara bilet pentru o seara</h3>
        <button type="button" class="btn btn-default">
            Cumpara bilet
        </button>
    </div>

    <div class="col-sm-4">
        <h3>Cumpara abonement pentru cele 3 seri</h3>
        <button type="button" class="btn btn-default">
            Cumpara abonament
        </button>
    </div>

    <div class="col-sm-4">
        <h3>Newsletter</h3>
        <p>Aboneaza-te la newsletter pentru a fi la curent cu toate noutatile</p>
        <div class="input-group">
          <span class="input-group-btn">
            <a class="btn btn-default" target="_blank" type="button" ng-href="https://docs.google.com/forms/d/e/1FAIpQLSfz17YrfH5Bxd0o9XKxXBN09Yl_7-17mMuSiZw1wka-2iUTVQ/viewform?entry.1045781291={{newsletterEmail}}&entry.2005620554">aboneaza-te</a>
          </span>
          <input type="email" class="form-control" placeholder="adresa ta de mail" ng-model="newsletterEmail">
        </div>
    </div>
</div>

<partners></partners>
