<div class="container tickets">
    <div class="row">
        <div class="col-sm-6">
            <h3>Biletele sunt disponibile online pe <a href="https://www.kompostor.ro/evenimente-the-gardener-jazz-festival-92" target="_blank">kompostor.ro</a></h3>
            <p>&nbsp;</p>
            <button type="button" class="btn btn-default">
                <a href="https://www.kompostor.ro/evenimente-the-gardener-jazz-festival-92" target="_blank">Cumpara bilet</a>
            </button>
        </div>

        <div class="col-sm-6">
            <h3>Newsletter</h3>
            <p>Aboneaza-te la newsletter pentru a fi la curent cu ultimele noutati</p>
            <div class="input-group">
                <span class="input-group-btn">
                    <a id="newsletter-email" class="btn btn-default" target="_blank" type="button" ng-href="https://docs.google.com/forms/d/e/1FAIpQLSfz17YrfH5Bxd0o9XKxXBN09Yl_7-17mMuSiZw1wka-2iUTVQ/viewform?entry.1045781291={{newsletterEmail}}&entry.2005620554">aboneaza-te</a>
                </span>
                <input
                type="email"
                class="form-control"
                placeholder="adresa ta de mail"
                ng-model="newsletterEmail"
                ng-keypress="vm.onInputKeypress($event)">
            </div>
        </div>
    </div>
</div>
<section class="section section--white clearfix">
    <partners class="section__content"></partners>
</section>
