.artist-thumbnail > img,
.artist-image > img {
    margin: 15px auto 15px auto;
}

.artist-description {
    margin: 50px auto 50px auto;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.sn {
    &__list {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    &__item {
        background-color: @light-gold;
        border-radius: 100%;
        display: inline-block;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 5px;
        transform: scale(0.8);
        transition: all 300ms ease;
        width: 40px;

        i {
            font-size: 30px;
        }

        a {
            color: inherit;
            display: block;
            height: 100%;
            position: relative;
            text-decoration: none;
            width: 100%;
        }

        &:hover {
            transform: scale(0.9);
        }
    }
}
