.team-thumbnail {
    display: block;
    width: 100%;
    margin: 20px auto;
    max-width: 220px;
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &:hover {
        .team-sn {
            opacity: 1;

            .team-sn__list li i {
                transform: scale(1);
            }

            .team-name {
                transform: translateY(220px);
            }
        }
        .team-photo {
            p {
                opacity: 0;
                transform: translateY(200px);
            }
        }
    }

    .team-photo {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100%;
        filter: grayscale(70%);
        height: 100%;
        position: absolute;
        transition: all 180ms ease-out;
        transform: translateZ(0);
        width: 100%;

        .carousel-caption {
            font-size: 10px;
        }

        p {
            font-size: 20px;
            opacity: 1;
            text-shadow: 2px 2px 3px #000000;
            transition: all 180ms ease-out;
        }
    }

    .team-sn {
        background: rgba(0, 0, 0, 0.6);
        border-radius: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: all 180ms ease;
        width: 100%;
        z-index: 12;
        
        .team-name {
            font-size: 20px;
            text-align: center;
            top: -200px;
            transition: all 180ms ease-out;
            word-spacing: 220px;
            z-index: 0;
        }

        .team-sn__list {
            list-style-type: none;
            padding: 0;
            margin-top: 130px;
            text-align: center;

            li {
                color: @light-gold;
                display: inline-block;
                height: 40px;
                margin-left: 3px;
                margin-right: 3px;
                width: 40px;

                a {
                    color: inherit;
                    display: inline-block;
                }

                i {
                    transition: all 300ms ease;
                    transform: scale(0.1);
                    font-size: 30px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
