<h2 class="section__title">Echipa</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4 thumb" ng-repeat="member in vm.team" ng-if="!member.disabled">
            <a class="team-thumbnail" style="background-image:url({{member.imageUrl}})">
                <!-- <img class="img-responsive" src="{{artist.imageUrl}}" alt="{{artist.name}}"> -->
                <div class="carousel-caption">
                    <h3>{{member.name}}</h3>
                </div>
                <div class="team-sn"></div>
            </a>
        </div>
    </div>
</div>

